





<p class="user_new_letter">ログイン</p>
<div class="user_signup">
<%=form_tag("/users/login")do%>
<p class="user_new_name_letter" >ユーザー名</p>
<input name="username" value="<%= @username %>" placeholder="&#xf007;" class="user_new_awesome">
<p class="user_new_password_letter">パスワード</p>
<input type="password" name="password" value="<%= @password %>" placeholder="&#xf084;" class="user_new_awesome">
<input type="submit" value="ログイン" class="user_login_button">
<%end%>
</div>
