<p>ユーザー新規登録</p>
<%=form_tag("/users/create")do%>
<p>ユーザー名</p>
<input name="username">
<p>パスワード</p>
<input type="password" name="password">
<input type="submit" value="新規作成" class="usernewbutton">
<%end%>