<h1>このアプリについて</h1>
<h3>こんな方におすすめ：</h3>
<ul>
<li>自分が開発したおもしろいフレーズを他人と共有したい人</li>
<li>他人からおもしろいフレーズを吸収して語彙を増やしたい人、ワードセンスを磨きたい人</li>
</ul>

<h3>このアプリの説明：</h3>
<p>このアプリでは、自分のお気に入りのフレーズを、気軽に他者と共有できます。他のユーザーのフレーズが自分も気に入ったら、いいね機能を使うことで、いつでも自分のユーザー詳細ページから確認できます。</p>
<p>このサイトでは辞書には載っていないようなフレーズから、今流行りのフレーズ、スラングのようなものまで、チェックすることができます。</p>
<p>自分のお気に入りのフレーズを通じて、インスピレーションを与え合おう!</p>
<p>お気に入りのフレーズを見つけて、会話に取り入れて、語彙を増やしたり、ワードセンスを磨こう!</p>

<h3>このアプリの使い方：</h3>
<p>すでにアカウントを作成している方は、ログイン。</p>
<p>そうでない方は、アカウントの新規作成をします。</p>
<p>アカウント作成またはログインが済むと、ユーザー詳細ページへと飛びます。</p>
<p>ユーザー詳細ページでは、自分が今まで投稿したフレーズを一覧できたり、自分がいいねを押した、他の人が投稿したフレーズを一覧できます。</p>
<p>間違って投稿してしまった場合でも、自分が投稿したフレーズの部分をクリックすることで、編集または削除が可能です。</p>