
<h1>SNS感覚でインスピレーションを共有しよう！</h1>
<ul>
 <li>インスピレーションを受けたモノやコトを、写真や動画や文字を通して、共有しよう</li>
 <li>創作品を共有しよう</li>
 <li>feelingが合う人達と繋がろう</li>
</ul>


<p>機能一覧</p>
<ul>
<li>投稿(文章、画像、動画、Youtube)機能</li>
<li>投稿編集機能</li>
<li>投稿削除機能</li>
<li>ログイン機能</li>
<li>ログアウト機能</li>
<li>いいね機能</li>
<li>メッセージ機能</li>
<li>ランキング機能</li>
<li>コメント機能</li>
</ul>
<p>など</p>