<p>タスク&ステータス作成</p>
<%=@error_messages%>
<%=form_tag("/posts/create")do%>
<div class="taskver">
<p>タスク</p>
<textarea name="task"></textarea>
</div>
<div class="statusver">
<p>ステータス</p>
<input type="text" name="status">
</div>
<input type="submit" value="新規作成">
<%end%>