
<% @task.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>

<%=form_tag("/posts/create")do%>
<div class="taskver">
<p>フレーズ入力：</p>
<input type="text" name="phrase">
</div>
<div class="statusver">
<p>説明入力：</p>
<textarea name="task"></textarea>
</div>
<input type="submit" value="投稿">
<%end%>