<p>編集してみよう!</p>
<%=@error_messages%>
<%=form_tag("/posts/#{@task.id}/update")do%>
<textarea name="update"><%=@task.content%></textarea>
<textarea name="updatestatus"><%=@task.status%></textarea>
<input type="submit" value="編集完了">
<%end%>
