// Place all the styles related to the follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow_container{
    padding-top:120px;
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 250px;
}


.follow_index_else{
    text-align:center;
}