// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top{
    background-image: url("/top.jpg");
    height: 600px;
    background-size: cover;
    text-align: center;
    padding: 50px;
    background-position: center 50%;
}

.topmessage{
    color:white;
    opacity:0.8;
    font-size:30px;
}


