// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-btn {
  color: #8899a6;
  padding-left:10px;
}

.like-btn-unlike {
  color: #ff2581;
  padding-left:10px;
}

.fas{
  color:rgb(143, 236, 143);
  margin-left:5px;
}

.h1{
    background-color: cornflowerblue;
    color:rgb(238, 236, 227);
    opacity:0.7;
    margin:0;
}


.container{
  padding-top:100px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

.index {
  height:100px;
  box-shadow: 0 2px 6px #c1ced7;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display:flex;
}


.index_left{
  padding-right:12px;
  text-align: center;
}


.index_header{
  display:flex;
}

.index_header p{
  color:grey;
}

.index_gazo img{
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}

.index_gazo img:hover{
  opacity:0.8;
}

.index_likes_comments{
  display:flex;
  justify-content: space-between;
}


.index_header a{
  margin:0;
  font-weight: bold;
  font-size:12px;
  padding-right:10px;
  padding-left:10px;
}

.index_header p{
  margin:0;
  font-size:12px;
}

.index_header a:hover{
  opacity:0.6;
}

.index_phrase{
  margin:15px;
}

.index_setu{
  font-size:12px;
  padding-right:10px;
  padding-left:10px;
}

.index_comment_content span{
  font-weight: bold;
}

.index_comment_content img{
  width:30px;
  height:30px;
}


.comment_edit{
  margin-left:auto;
  font-size:12px;
  margin-right:15px;
}

.comment_edit a{
   text-decoration: underline;
   color:grey;
}















table {
  border-collapse: collapse;
  text-align:center;
  width:70%;
  margin: 0 auto;
}
table th, table td {
  border: solid 1px black;
  /*実線 1px 黒*/
}

.ran{
  text-align:center;
}

.hyou{
  width:50px;
}

.come a{
  color:blue;
}
