// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html{
  background-color: rgb(250, 249, 249);
}






//いいね取り消し
.like-btn {
  color: #8899a6;
  padding-left:6px;
}

.fa-heart:before{
  padding:2px;
  border-radius:10px;
}

.fa-heart:hover:before {
  background-color:#ff7ab1;
}
//


//いいね追加
.like-btn-unlike {
  color: #ff2581;
  padding-left:6px;
}


.like-btn-unlike:before{
  padding:2px;
  border-radius:10px;
}
//


//コメントマーク
.fa-comment{
  color:rgb(194, 194, 194);
}

.fa-comment:before{
  padding-right:2px;
}
//








.h1{
    background-color: cornflowerblue;
    color:rgb(238, 236, 227);
    opacity:0.7;
    margin:0;
}


.container{
  padding-top:100px;
  padding-bottom: 100px;
  padding-left: 250px;
  padding-right: 250px;
}

.index {
  height:auto;
  border: solid 1px rgb(218, 217, 217);
  background-color: white;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display:flex;
  justify-content: space-between;
  margin: 0 0 -1px; 
}

.index:hover{
  background-color:rgb(243, 243, 243);
}

.index_right_left{
  display: flex;
  width:92%;
}

.index_left{
  padding-right:12px;
  text-align: center;
  width:7%;
}


.index_header{
  display:flex;
}

.index_header p{
  color:grey;
}

.index_gazo img{
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}

.index_gazo img:hover{
  opacity:0.8;
}

.index_likes_comments{
  display:flex;
  justify-content: space-between;
}


.index_header a{
  margin:0;
  font-weight: bold;
  font-size:12px;
  padding-right:10px;
  padding-left:10px;
}


.index_user_name a:hover{
  text-decoration: underline;
}

.index_header p{
  margin:0;
  font-size:12px;
}



.index_title{
  margin:15px;
}

.index_setu{
  font-size:12px;
  padding-right:10px;
  padding-left:10px;
}





.index_comment_name_content{
  display:flex;
}


.index_comment_name{
  font-weight: bold;
  font-size:12px;
}

.index_comment_name_content img{
  width:30px;
  height:30px;
  margin-left:23px;
  margin-top:10px;
  margin-right:15px;
  margin-bottom:10px;
  border-radius: 20px;
}


.comment_edit{
  width:8%;
  font-size:12px;
}

.comment_edit a{
  text-decoration: underline;
  color:grey;
}
















.comment_button_text_area form{
  display:flex;
  justify-content: space-between;
  
  padding:10px;
  border: solid 1px rgb(218, 217, 217);
  background-color: white;
}


.comment_text_area{
  width:94%;
  border: none;
}

.comment_text_area:focus {
  outline: none;
}

.comment_toukou_button{
  border-radius: 20px;
  border: none;
  background-color: white;
  color: #0095f6;
}

.comment_toukou_button:hover{
  opacity:0.6;
}

.comment_toukou_button:focus {
  outline: none;
}


















table {
  border-collapse: collapse;
  text-align:center;
  width:28%;
  margin: 0 auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table a:hover{
  opacity:0.6;
}

table th, table td {
  border: solid 1px rgb(172, 168, 153);
  /*実線 1px 黒*/
}

table {
  background-color: rgb(243, 243, 214);
}

table th{
  font-weight: normal;
  background-color: rgb(214, 197, 101);
  font-size:15px;
  padding:0;
  color:rgb(0, 0, 0);
}

.ran{
  text-align:center;
}

.rank_header_letter{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:25px;
  color:rgb(153, 153, 153);
  margin-bottom:10px;
}

.hyou{
  width:50px;
}

.come a{
  color:blue;
}

.rank_title{
  font-weight: bold;
}

.rank_user_name{
  font-size: 13px;
}

td{
  padding:5px;
}

#ranking_render{
  margin-top:120px;
  background-color: rgb(250, 249, 249);
}








.index_right{
  width:93%;
}


.index_right_file{
  text-align: center;
}


.index_right img{
  border-radius: 10px;
  border: solid 3px rgb(218, 217, 217);
  margin-top:30px;
  margin-bottom:35px;
}

.index_right img:hover{
  opacity:0.8;
}

.one img{
  width:60%;
  height:300px;
}

.two img{
  width:30%;
  height:300px;
}

.three img{
  width:20%;
  height:300px;
}

.four img{
  width:15%;
  height:300px;
}





.index_right video{
  border-radius: 10px;
  border: solid 3px rgb(218, 217, 217);
  margin-top:30px;
  margin-bottom:35px;
}

.index_right video:hover{
  opacity:0.8;
}

.one video{
  width:60%;
  height:300px;
}

.two video{
  width:30%;
  height:300px;
}

.three video{
  width:20%;
  height:300px;
}

.four video{
  width:15%;
  height:300px;
}




.index_right iframe{
  width:60%;
  height:300px;
  margin-top:30px;
  border-radius: 10px;
  border: solid 3px rgb(218, 217, 217);
}

.index_right iframe:hover{
  opacity:0.8;
}

.index_right_file_url a{
  color:rgb(25, 116, 252);
}

.index_right_file_url :hover{
  text-decoration: underline;
}



.form_button{
  padding-top:120px;
}

.form_button input{
  background-color:rgb(0, 132, 255);
  color:white;
  border-radius: 10px;
}

.form_button input:hover{
  opacity:0.7;
}



.tag a{
  color:rgb(0, 119, 255);
}

.tag a:hover{
  text-decoration: underline;
}




.search_form{
  text-align:center;
  margin-top:70px;
}
.search_form_text{
  width:15%;
}

.search_form_text::placeholder {
  text-align: center;
}

.search_form_nil{
  text-align:center;
}






//投稿ページ

.post_toukou form{
  margin-top:70px;
}










.search_form_container{
  padding-top:20px;
}

.index_setu mark{
  background-color:initial;
  color:#015ac0;
  font-weight: bold;
}







.comment_index:hover{
  background-color:white;
}