// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-btn {
  color: #8899a6;
  padding-left:10px;
}

.like-btn-unlike {
  color: #ff2581;
  padding-left:10px;
}

.fas{
  color:rgb(143, 236, 143);
  margin-left:5px;
}

.h1{
    background-color: cornflowerblue;
    color:rgb(238, 236, 227);
    opacity:0.7;
    margin:0;
}


.container{
  padding-top:100px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

.index {
  height:auto;
  box-shadow: 0 2px 6px #c1ced7;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display:flex;
  justify-content: space-between;
}

.index_right_left{
  display: flex;
  width:92%;
}

.index_left{
  padding-right:12px;
  text-align: center;
  width:7%;
}


.index_header{
  display:flex;
}

.index_header p{
  color:grey;
}

.index_gazo img{
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}

.index_gazo img:hover{
  opacity:0.8;
}

.index_likes_comments{
  display:flex;
  justify-content: space-between;
}


.index_header a{
  margin:0;
  font-weight: bold;
  font-size:12px;
  padding-right:10px;
  padding-left:10px;
}

.index_header p{
  margin:0;
  font-size:12px;
}

.index_header a:hover{
  opacity:0.6;
}

.index_title{
  margin:15px;
}

.index_setu{
  font-size:12px;
  padding-right:10px;
  padding-left:10px;
}



.index_comment{
  margin-top:15px;
}

.index_comment_name_content{
  margin-top:1px;
  margin-left:5px;

}


.index_comment_name{
  font-weight: bold;
}

.index_comment_name_content img{
  width:15px;
  height:15px;
  border-radius: 10px;
  
}


.comment_edit{
  width:8%;
  font-size:12px;
}

.comment_edit a{
  text-decoration: underline;
  color:grey;
}




.comment_button_text_area{
  margin-top:15px;
}



.comment_button_text_area form{
  display:flex;
  justify-content: space-between;
}


.comment_text_area{
  width:90%;
}


.comment_toukou_button{
  color:white;
  background-color: rgb(9, 95, 224);
  padding:0; 
  width:10%;
}

.comment_toukou_button:hover{
  opacity:0.6;
}



















table {
  border-collapse: collapse;
  text-align:center;
  width:30%;
  margin: 0 auto;
}

table a:hover{
  opacity:0.6;
}

table th, table td {
  border: solid 1px black;
  /*実線 1px 黒*/
}

table {
  background-color: rgb(243, 243, 214);
}

table th{
  background-color: rgb(214, 197, 101);
}

.ran{
  text-align:center;
}

.hyou{
  width:50px;
}

.come a{
  color:blue;
}

.hyou_span span{
  font-weight: bold;
}

.ran h3{
  margin-top:60px;
}









.index_right{
  width:93%;
}


.index_right_file{
  text-align: center;
}


.index_right img{
  border-radius: 10px;
  border: solid 3px rgb(218, 217, 217);
}

.index_right img:hover{
  opacity:0.8;
}

.one img{
  width:60%;
  height:300px;
}

.two img{
  width:30%;
  height:300px;
}

.three img{
  width:20%;
  height:300px;
}

.four img{
  width:15%;
  height:300px;
}





.index_right video{
  border-radius: 10px;
  border: solid 3px rgb(218, 217, 217);
}

.index_right video:hover{
  opacity:0.8;
}

.one video{
  width:60%;
  height:300px;
}

.two video{
  width:30%;
  height:300px;
}

.three video{
  width:20%;
  height:300px;
}

.four video{
  width:15%;
  height:300px;
}




.index_right iframe{
  width:60%;
  height:300px;
 
  border-radius: 10px;
  border: solid 3px rgb(218, 217, 217);
}

.index_right iframe:hover{
  opacity:0.8;
}

.index_right_file_url a{
  color:rgb(25, 116, 252);
}

.index_right_file_url :hover{
  opacity:0.6;
}



.form_button{
  padding-top:120px;
}

.form_button input{
  background-color:rgb(0, 132, 255);
  color:white;
  border-radius: 10px;
}

.form_button input:hover{
  opacity:0.7;
}
