// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.talk{
    width:70%;
    margin:0 auto;
    background-color:white;
    border: solid 1px rgb(170, 170, 170);
    margin-top:100px;
    height:500px;
    position: relative;
}



.talk_header{
    text-align:center;
}

.talk_header_name{
    background-color:rgb(78, 134, 255);
    padding:15px;
    font-weight:bold;
    color:rgb(236, 233, 233);
    margin-top:0;
}


.talk_zone{
    overflow:scroll;
    height:70%;
}

.talk img {
    width:30px;
    height:30px;
    margin-left:10px;
}


.talk img:hover{
    opacity:0.7;
}





.talk_submit_user{
    text-align: right;
}



.talk_submit_user_content{
    background-color:rgb(233, 233, 233);
    padding:10px;
    border-radius: 18px;
    margin-right:20px;
    margin-left:10px;
    display: inline-block;
    max-width:60%;
    text-align: left;
    word-wrap: break-word;
}



.talk_receive_user_content{
    border: solid 1px rgb(197, 197, 197);
    padding:8px;
    border-radius: 18px;
    margin-right:10px;
    margin-left:10px;
    display: inline-block;
    max-width:60%;
    word-wrap: break-word;
}




.comment_button_text_area_message{
    position: absolute;
    bottom: 0;
    margin:15px;
    width:96%;
}