// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.talk{
    width:50%;
    margin:0 auto;
    background-color:rgb(243, 243, 243);
    border: solid 1px rgb(170, 170, 170);
    margin-top:100px;
    
}

.talk_header{
    text-align:center;
}

.talk_header_name{
    background-color:rgb(83, 114, 248);
    padding:15px;
    font-weight:bold;
    color:rgb(236, 233, 233);
    margin-top:0;
}


.talk img {
    width:30px;
    height:30px;
    margin-left:10px;
}


.talk img:hover{
    opacity:0.7;
}





.talk_submit_user{
    text-align: right;
}



.talk_submit_user_content{
    border: solid 1px black;
    background-color:rgb(214, 211, 211);
    padding:5px;
    border-radius: 10px;
    margin-right:20px;
    margin-left:10px;
    display: inline-block;
    max-width:60%;
    text-align: left;
    word-wrap: break-word;
}



.talk_receive_user_content{
    border: solid 1px black;
    background-color:white;
    padding:5px;
    border-radius: 10px;
    margin-right:10px;
    margin-left:10px;
    display: inline-block;
    max-width:60%;
    word-wrap: break-word;
}


.talk form{
    display:flex;
    justify-content: space-between;
}

form textarea{
    width:90%;
}

.talk input{
    width:10%;
    background-color:rgb(134, 230, 134);
}

.talk input:hover{
    opacity:0.7;
}