// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user{
  box-shadow: 0 2px 6px #c1ced7;
  padding: 40px 60px;
  background-color: cadetblue;
}

.user p{
  display:inline-block;
  color:white;
  background-color: gray;
  border-radius: 10px;
  border: 1px solid black;
}

.user h2{
  display:inline-block;
  vertical-align: top;
}

.usershow{
  box-shadow: 0 2px 6px #c1ced7;
  padding: 40px 60px;
}

.usershow h2{
  display:inline-block;
  vertical-align: top;
}

.usershow h3{
  text-align:center;
  font-size:50px;
}

.user img{
  width: 80px;
  height: 80px;
}

.iinegazo img{
  width: 80px;
  height: 80px;
}

.itiran p{
  display:inline-block;
}

.itiraniine a{
  border-bottom: 1px solid rgb(5, 247, 235);
}

.itiranitiran a{
  color: rgb(175, 172, 172);
}

.toukouitiran p{
  display:inline-block;

}

.toukou a{
  border-bottom: 1px solid rgb(5, 247, 235);
}

.iineiine a{
  color: rgb(175, 172, 172);
}
.userindex img{
  width: 80px;
  height: 80px;
}



a{
  color:black;
}












.user_show{
  text-align:center;
}


.user_show_top{
  margin-top:30px;
}

.user_show img{
  margin-top:100px;
  width:80px;
  height:80px;
  border-radius: 20px;
}


.user_show img:hover{
  opacity:0.7;
}


.user_show_name{
  margin:0;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:20px;
}


.user_show_introduction{
  color:rgb(88, 88, 88);
}


.user_show_profile_edit{
  padding:5px;
  margin:15px;
  border: 1px solid rgb(172, 181, 185);
  background-color:rgb(219, 225, 226);
  border-radius: 10px;
  font-size:13px;
}

.user_show_profile_edit :hover{
  opacity:0.6;
}


.user_show i{
  color:rgb(17, 126, 228)
}

.user_show i:hover{
  opacity:0.7;
}

.follow_button{
  margin-bottom:50px;
}

.follow_button a{
  border: 2px solid  #bebdbd;
  color:white;
  background-color:  #c5c5c5;
  padding:5px;
  border-radius: 3px;
  font-weight: bold;
}

.not_follow_button a{
  border: 2px solid  #cccccc;
  color: #cccccc;
  padding:5px;
  border-radius: 3px;
  font-weight: bold;
}

.follow_button a:hover{
  opacity:0.7;
}

.not_follow_button a:hover{
  opacity:0.7;
}




.user_show_list_button_at_post a:hover{
   opacity:0.6;
}


.user_show_list_post_button_at_post a{
  border-bottom: 1px solid rgb(5, 247, 235);
}


.user_show_list_like_button_at_post a{
  color: rgb(175, 172, 172);
}







.user_show_list_button_at_like a:hover{
  opacity:0.6;
}


.user_show_list_post_button_at_like a{
  color: rgb(175, 172, 172);
}


.user_show_list_like_button_at_like a{
 border-bottom: 1px solid rgb(5, 247, 235);
}







.user_show_list_else{
  text-align:center;
}














.user_signup{

  background-color:white;
  margin-bottom:150px;
  margin-right:300px;
  margin-left:300px;
  padding-top:50px;
  padding-bottom:50px;
  padding-right:70px;
  padding-left:70px;
  border: solid 1px rgb(218, 217, 217);
}

.user_new_letter{
  text-align:center;
  font-size:40px;
  color:rgb(175, 175, 175);
  margin-top:150px;
}


.user_signup form input{
  width:100%;
  box-sizing: border-box;
  padding-top:10px;
  padding-bottom:10px;
}


.user_new_name_letter{
  margin-top:0;
  margin-bottom:5px;
  margin-left:0;
  margin-right:0;
}

.user_new_password_letter{
  margin-top:30px;
  margin-bottom:5px;
  margin-left:0;
  margin-right:0;
}

.user_new_button{
  margin-top:80px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  background-color:rgb(58, 226, 148);
  color:white;
  font-weight: bold;
  border:none;
  font-size:15px;
  border-radius: 2px;
}

.user_login_button:hover{
  opacity:0.7;
}

.user_login_button{
  margin-top:80px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  background-color:rgb(59, 152, 240);
  color:white;
  font-weight: bold;
  border:none;
  font-size:15px;
  border-radius: 2px;
}

.user_new_button:hover{
  opacity:0.7;
}


.user_new_awesome{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-left:3px;
  border: solid 2px rgb(189, 189, 189);
  border-radius: 3px;
}







.guest_form_letter{
  margin-bottom:70px;
}

.guest_form img{
  margin:0;
}

.guest_form{
  text-align:center;
  margin-top:150px;
}

.guest_form_button{
  display: inline-block;
  width:8%;
  margin-top:20px;
  padding:5px;
  background-color: rgb(59, 152, 240);
}












.form_error{
  color:rgb(175, 27, 59);
}






