// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user{
  box-shadow: 0 2px 6px #c1ced7;
  padding: 40px 60px;
  background-color: cadetblue;
}

.user p{
  display:inline-block;
  color:white;
  background-color: gray;
  border-radius: 10px;
  border: 1px solid black;
}

.user h2{
  display:inline-block;
  vertical-align: top;
}

.usershow{
  box-shadow: 0 2px 6px #c1ced7;
  padding: 40px 60px;
}

.usershow h2{
  display:inline-block;
  vertical-align: top;
}

.usershow h3{
  text-align:center;
  font-size:50px;
}

.user img{
  width: 80px;
  height: 80px;
}

.iinegazo img{
  width: 80px;
  height: 80px;
}

.itiran p{
  display:inline-block;
}

.itiraniine a{
  border-bottom: 1px solid rgb(5, 247, 235);
}

.itiranitiran a{
  color: rgb(175, 172, 172);
}

.toukouitiran p{
  display:inline-block;

}

.toukou a{
  border-bottom: 1px solid rgb(5, 247, 235);
}

.iineiine a{
  color: rgb(175, 172, 172);
}
.userindex img{
  width: 80px;
  height: 80px;
}



a{
  color:black;
}

.usernewbutton{
  color:white;
  background-color: rgba(0, 252, 0, 0.589);
  border-radius: 10px;
}






